
  body {font-family:Arial; background-color:blue; font-size:100px; }

  #flotai{ float:left; }
  .flotad{ float:right; }

  #producto {margin-top:15px}

  footer {margin-top:15px; background-color:white; color:black; border: 8px solid black}
