
   	
	#marco_superior{width:100%; height:200px; background-image:url("https://upload.wikimedia.org/wikipedia/commons/thumb/3/34/Regensburg_Uferpanorama_08_2006.jpg/1155px-Regensburg_Uferpanorama_08_2006.jpg");
                    background-size:cover;}
	
	#bloque_lateral{width:18%; height:400px; float:left; background-color:blue;}
	
	#recuadro_elemento{width:60%; margin-top:2em; margin-left:3em; border:1px solid black;}
	
	#lista_desordenada{color:white; list-style-type:square; margin-left:1em; margin-top:2em;}
		
	#elemento{padding-bottom:1.25em}
	
	 /* Ponemos color rojo al pasar el cursor sobre los links UNO DOS */
      a:hover{color:white; background-color:black; }
	
	/* Links no consultados */
	  a:link{text-decoration:none; color:white;}
	
	/* Links visitados */
     a:visited {color:white; text-decoration:none;}
	
	#recuadro_central{width:100%; height:400px; background-color:black;}
	
	#pie_pagina{width:100%; height:200px; background-color:blue; display:inline-block;}
	
	.texto{padding-top:1em; text-align:center; color:white}
		
	
	
	
	
	
	
	
	
	
	


	
	
	
	
	 
